{% macro pagination(item_count, page_size, route, options, active_page) %}
    {% set page_limit = item_count // page_size + 1 %}
    {% set page_limit = page_limit | round(0, 'floor') %}
    {% if item_count > page_size %}
        <nav>
            Page
            {% for page_count in 1..page_limit %}
                {% if active_page != page_count %}
                    {% set is_previous = page_count == active_page - 1 %}
                    {% set is_next = page_count == active_page + 1 %}
                    
                    {% set rel = [] %}
                    {% if is_previous %}{% set rel = rel | merge(["prev"]) %}{% endif %}
                    {% if is_next %}{% set rel = rel | merge(["next"]) %}{% endif %}
                    {% set rel = rel | join(" ") %}
                    
                    {% set page_options = options | merge({'page':page_count}) %}
                    <a href="{{url(route, page_options)}}" title="Page {{page_count}}"{% if rel %} rel="{{rel}}"{% endif %}>{{page_count}}</a>
                {% else %}
                    {{page_count}}
                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}
{% endmacro %}
