{% extends 'install/base.html.twig' %}

{% block body %}
    <h1>Forum9000 Installer</h1>

    {{form_start(actions_form)}}

    {% if database_exists %}
        {% if database_migration_needed %}
            <p>The database you configured already exists, but {{migration_count}} updates need to be run. {{form_widget(actions_form.upgrade)}}</p>
        {% else %}
            <p>The database you configured already exists and it's schema has been updated to the latest version. <a href="{{url('f9kinstall_owner_registration')}}">Continue to user setup</a>.</p>
        {% endif %}
    {% else %}
        <p>The database you configured needs to be created. {{form_widget(actions_form.create)}}</p>
    {% endif %}

    {{form_end(actions_form)}}
{% endblock %}
