{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    {% if forum %}
        <h1>{{forum.title}}</h1>
        {{forum.description}}
        <p>{{thread_count}} threads - <a href="{{url('f9kforum_thread_new', {'id':forum.compactId})}}">post new thread</a></p>
    {% endif %}

    {% for thread in threads %}
        <article>
            <a href="{{url('f9kforum_thread', {'id':thread.compactId})}}">{{thread.orderedPosts[0].title}}</a>
            {% if thread.orderedPosts[0].postedBy %}
                <span>Posted by {{thread.orderedPosts[0].postedBy.handle}} on {{thread.orderedPosts[0].ctime | date}} UTC</span>
            {% else %}
                <span>Posted anonymously on {{thread.orderedPosts[0].ctime | date}} UTC</span>
            {% endif %}
        </article>
    {% else %}
        No threads!
    {% endfor %}

    {{macros.pagination(thread_count, 10, "f9kforum_forum", {"id": forum.compactId}, page)}}
{% endblock %}
