{% extends "base.html.twig" %}

{% block body %}
    {% if forum %}
        <h1>{{forum.title}}</h1>
        {{forum.description}}
        <p>{{thread_count}} threads</p>
    {% endif %}

    {% for thread in threads %}
        <article>
            <a href="{{url('f9kforum_thread', {'id':thread.compactId})}}">{{thread.orderedPosts[0].title}}</a>
            {% if thread.orderedPosts[0].postedBy %}
                <span>Posted by {{thread.orderedPosts[0].postedBy.handle}} on {{thread.orderedPosts[0].ctime | date}} UTC</span>
            {% else %}
                <span>Posted anonymously on {{thread.orderedPosts[0].ctime | date}} UTC</span>
            {% endif %}
        </article>
    {% else %}
        No threads!
    {% endfor %}

    {% set page_limit = thread_count // 10 + 1 %}
    {% set page_limit = page_limit | round(0, 'floor') %}
    {% if thread_count > 10 %}
        <nav>
            Page
            {% for page_count in 1..page_limit %}
                {% if page != page_count %}
                    <a href="{{url('f9kforum_forum', {'id':forum.compactId, 'page':page_count})}}" title="Page {{page_count}}">{{page_count}}</a>
                {% else %}
                    {{page_count}}
                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}

    <h2>New Thread</h2>
    {{ form_start(thread_form) }}
    {{ form_widget(thread_form) }}
    {{ form_end(thread_form) }}
{% endblock %}
