{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    {% if forum %}
        {{macros.render_forum_header(forum)}}
    {% endif %}

    {% for post in posts %}
        {{macros.render_post(post)}}
    {% else %}
        No posts!
    {% endfor %}

    {{macros.pagination(post_count, 20, "f9kforum_thread", {"id": thread.compactId, 'forum_id': forum.slug}, page)}}

    <h2>Reply</h2>
    {{ form_start(reply_form) }}
    {{ form_widget(reply_form) }}
    {{ form_end(reply_form) }}
{% endblock %}
