{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    <a href="{{url('f9kforum_forum', {'id':forum.slug})}}">Back to {{forum.title}}</a>
    {% for post in posts %}
        <article id="p{{post.order}}">
            <h2>{{post.title}}</h2>
            {% if post.postedBy %}
                <p>Posted by {{post.postedBy.handle}} on {{post.ctime | date}} UTC</p>
            {% else %}
                <p>Posted anonymously on {{post.ctime | date}} UTC</p>
            {% endif %}
            {{post.message | markup(post.markupLanguage)}}
        </article>
    {% else %}
        No posts!
    {% endfor %}

    {{macros.pagination(post_count, 20, "f9kforum_thread", {"id": thread.compactId}, page)}}

    <h2>Reply</h2>
    {{ form_start(reply_form) }}
    {{ form_widget(reply_form) }}
    {{ form_end(reply_form) }}
{% endblock %}
