{% extends "base.html.twig" %}

{% block body %}
    <h1>Forum Admin - {{forum.title}}</h1>
    
    <h2>Default permissions</h2>
    <p>Permissions encompass the default set of actions that anonymous &nbsp; authenticated users can automatically perform by default. You can use them to control, for example, if logged-out users are allowed to view or post on a particular forum.</p>
    {% for permission in forum.permissions %}
        {% if permission.isGrantedAnon %}<p>Anonymous users can {{permission.attribute}}</p>{% endif %}
        {% if permission.isGrantedAuth %}<p>Authenticated users can {{permission.attribute}}</p>{% endif %}
    {% else %}
        <p>No default permissions exist for this forum.</p>
    {% endfor %}

    <h2>Privilege grants</h2>
    <p>Grants encompass actions that specific users are allowed to perform on the forum. This usually would be used to grant moderator privileges (e.g. deleting posts or issuing bans) to specific users.</p>
    {% for grant in forum.grants %}
        <p>{{grant.user.handle}} {% if grant.isGranted %}can{% elseif grant.isDenied %}cannot{% else %}maybe can{% endif %} {{grant.attribute}}</p>
    {% else %}
        <p>No privilege grants exist for this forum.</p>
    {% endfor %}
    
    <p>Privilege grants can also be used to revoke default permissions. This is an advanced use-case and should only be used in cases where a specific class of users are ordinarily not supposed to be able to exercise a default permission.</p>
{% endblock %}
