{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    <a href="{{url('f9kadmin_user_overview')}}">Users</a>
    <a href="{{url('f9kadmin_forum_overview')}}">Forums</a>

    <h2>Newest Threads</h2>
    {% for thread in newest_threads %}
        <article>
            <a href="{{url('f9kforum_thread', {'forum_id': thread.forum.slug, 'id':thread.compactId})}}">{{thread.orderedPosts[0].title}}</a>
            {% if thread.orderedPosts[0].postedBy %}
                <span>Posted by {{thread.orderedPosts[0].postedBy.handle}} on {{thread.orderedPosts[0].ctime | date}} UTC in <a href="{{url('f9kforum_forum', {'id': thread.forum.slug})}}">{{thread.forum.title}}</a></span>
            {% else %}
                <span>Posted anonymously on {{thread.orderedPosts[0].ctime | date}} UTC in <a href="{{url('f9kforum_forum', {'id': thread.forum.slug})}}">{{thread.forum.title}}</a></span>
            {% endif %}
        </article>
    {% endfor %}
{% endblock %}
