{% extends "base.html.twig" %}

{% block body %}
    <h1>Forum Manifest</h1>

    {{ form_start(order_form) }}
    {{ form_widget(order_form) }}
    {{ form_end(order_form) }}

    <h2>New Forum</h2>
    {{ form_start(new_forum_form) }}
    {{ form_widget(new_forum_form) }}
    {{ form_end(new_forum_form) }}
{% endblock %}
