{% extends "admin/base.html.twig" %}
{% from "macros/permalink_thread.html.twig" import permalink_thread %}
{% from "macros/permalink_forum.html.twig" import permalink_forum %}

{% block body %}
    {% if developer.pendingMigrationCount > 0 %}
        <h2>Pending updates</h2>
        <p>{{developer.pendingMigrationCount}} updates need to be installed.</p>
    {% endif %}
    <h2>Newest Posts</h2>
    {% for post in newest_posts %}
        {% set post_page = post.order // 20 + 1 %}
        <article>
            <a href="{{permalink_thread(post.thread, post_page)}}#p{{post.order}}">{{post.title}}</a>
            {% if post.postedBy %}
                <span>Posted by {{post.postedBy.handle}} on {{post.ctime | date}} UTC in <a href="{{permalink_forum(post.thread.forum)}}">{{post.thread.forum.title}}</a></span>
            {% else %}
                <span>Posted anonymously on {{post.ctime | date}} UTC in <a href="{{permalink_forum(post.thread.forum)}}">{{post.thread.forum.title}}</a></span>
            {% endif %}
        </article>
    {% endfor %}
{% endblock %}
