{% extends "base.html.twig" %}

{% block body %}
    <h1>Forum Manifest</h1>

    {{ form_start(order_form) }}
        <table>
            <thead>
                <th>Forum</th>
                <th>Parent Forum</th>
                <th>Sort Order</th>
            </thead>
            {% for forum_form in order_form.forums %}
                {% set forum = forums[loop.index - 1] %}
                <tr>
                    <td><a href="{{url('f9kadmin_forum_single', {'id':forum.compactId})}}">{{ forum.title }}</a>{{ form_widget(forum_form.id) }}</td>
                    <td>
                        {{ form_errors(forum_form.parent) }}
                        {{ form_widget(forum_form.parent) }}
                    </td>
                    <td>
                        {{ form_errors(forum_form.order) }}
                        {{ form_widget(forum_form.order) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {{ form_end(order_form) }}

    <h2>New Forum</h2>
    {{ form_start(new_forum_form) }}
    {{ form_widget(new_forum_form) }}
    {{ form_end(new_forum_form) }}
{% endblock %}
