{% extends "admin/base.html.twig" %}

{% block body %}
    <h1>Groups</h1>

    {% for group in groups %}
        <article>
            <a href="{{url('f9kadmin_group_single', {'id':group.compactId})}}">{{group.handle}}</a>
        </article>
    {% else %}
        No groups registered!
    {% endfor %}

    <h2>New Group</h2>
    {{ form_start(new_group_form) }}
    {{ form_widget(new_group_form) }}
    {{ form_end(new_group_form) }}
{% endblock %}
