{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    <h1>Database Update {{version}}</h1>
    
    <h2>Information</h2>
    <pre>{{migration_comment}}</pre>
    <p>Update created on {{migration_datetime}}</p>
    
    <h2>Status</h2>
    <p>Can be applied: {% if migration_canup %}Yes, {{versions_up | length}} updates to apply{% else %}No{% endif %}</p>
    <p>Can be reverted: {% if migration_candown %}Yes, {{versions_down | length + 1}} updates to revert{% else %}No{% endif %}</p>
{% endblock %}
