{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    {% if forum %}
        {{macros.render_forum_header(forum)}}
        {{macros.breadcrumb(forum)}}
    {% endif %}

    <h2>Lock</h2>
    {{ form_start(lock_form) }}
    {{ form_widget(lock_form) }}
    {{ form_end(lock_form) }}
{% endblock %}
