{% extends "forum/forum.html.twig" %}
{% from "macros/breadcrumb.html.twig" import breadcrumb %}
{% from "macros/pagination.html.twig" import pagination %}
{% from "macros/permalink_actor.html.twig" import permalink_actor %}

{% block breadcrumb %}
    {{breadcrumb(thread)}}
{% endblock %}

{% block body %}
    {% block children %}
        {% for post in posts %}
            <article id="p{{post.order}}">
                <h2>{{post.title}}</h2>
                {% if post.postedBy %}
                    <p>Posted by <a href="{{permalink_actor(post.postedBy)}}">{{post.postedBy.handle}}</a> on {{post.ctime | date}} UTC</p>
                {% else %}
                    <p>Posted anonymously on {{post.ctime | date}} UTC</p>
                {% endif %}
                {{post.message | markup(post.markupLanguage)}}
            </article>
        {% else %}
            No posts!
        {% endfor %}
    {% endblock %}

    {% block pagination %}
        {{pagination(post_count, 20, "f9kforum_thread", {"id": thread.compactId, 'forum_slug': forum.slug}, page)}}
    {% endblock %}

    <h2>Reply</h2>
    {{ form_start(reply_form) }}
    {{ form_widget(reply_form) }}
    {{ form_end(reply_form) }}
{% endblock %}
