{% from "macros/permalink_actor.html.twig" import permalink_actor %}
{% from "macros/breadcrumb.html.twig" import breadcrumb %}

{% block html %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
        </head>
        <body>
            <header>
                {% block header %}
                    <nav aria-label="Navigation">
                        <ul>
                            {% if app.user %}
                                <li>Welcome <a href="{{permalink_actor(app.user)}}">{{app.user.handle}}</a></li>
                            {% endif %}
                            
                            {% block navigation %}{% endblock %}
                            
                            {% if app.user %}
                                {% if "ROLE_STAFF" in app.user.roles or "ROLE_DEVELOPER" in app.user.roles %}
                                    <li><a href='{{url("f9kadmin_dashboard")}}'>Admin</a></li>
                                {% endif %}
                                {% if "ROLE_DEVELOPER" in app.user.roles %}
                                    <li><a href='{{url("f9kdeveloper_dashboard")}}'>Developer</a></li>
                                {% endif %}
                                <li><a href='{{url("f9kuser_logout")}}'>Logout</a></li>
                            {% else %}
                                <li><a href='{{url("f9kuser_login")}}'>Login</a></li>
                                <li><a href='{{url("f9kuser_register")}}'>Register</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endblock %}
            </header>
            
            <nav aria-label="Breadcrumb">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    {% block breadcrumb %}
                        {{breadcrumb(null)}}
                    {% endblock %}
                </ol>
            </nav>
            
            {% block actions %}{% endblock %}
            
            {% block main %}<main>{% block body %}{% endblock %}</main>{% endblock %}

            {% block javascripts %}{% endblock %}
        </body>
    </html>
{% endblock %}