{% macro interval(from, to) %}
    {# TODO: Everything. User-facing dates need to be internationalized. Time zones need to be supported. Interval text needs to be translatable. Etc. #}
    {% set date_interval = from.diff(to) %}
    <time datetime="{{from | date('c')}}" title="{{from | date}}">
        {% if date_interval.y > 0 %}
            {{date_interval.format("%y years")}}
        {% elseif date_interval.m > 0 %}
            {{date_interval.format("%m months")}}
        {% elseif date_interval.d > 0 %}
            {{date_interval.format("%d days")}}
        {% elseif date_interval.h > 0 %}
            {{date_interval.format("%h hours")}}
        {% elseif date_interval.i > 0 %}
            {{date_interval.format("%i minutes")}}
        {% elseif date_interval.s > 0 %}
            {{date_interval.format("%s seconds")}}
        {% endif %}
    </time>
{% endmacro %}

{% macro breadcrumb(main_obj, recurse) %}
    {% import _self as macros %}

    {% set recurse = recurse | default(0) %}
    {% if recurse < 1 %}
        <ul>
    {% endif %}

    {% if main_obj is null %}
        <li><a href="/">Home</a>
    {% elseif main_obj is instanceof('\\Forum9000\\Entity\\Thread') %}
        {{macros.breadcrumb(main_obj.forum, recurse+1)}}
        <li><a href="{{macros.permalink_thread(main_obj)}}">{{main_obj.orderedPosts[0].title}}</a></li>
    {% elseif main_obj is instanceof('\\Forum9000\\Entity\\Forum') %}
        {{macros.breadcrumb(main_obj.parent, recurse+1)}}
        <li><a href="{{macros.permalink_forum(main_obj)}}">{{main_obj.title}}</a></li>
    {% else %}
        <li><a href="/">Home</a>
    {% endif %}

    {% if recurse < 1 %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro pagination(item_count, page_size, route, options, active_page) %}
    {% set page_limit = item_count // page_size + 1 %}
    {% set page_limit = page_limit | round(0, 'floor') %}
    {% if item_count > page_size %}
        <nav>
            Page
            {% for page_count in 1..page_limit %}
                {% if active_page != page_count %}
                    {% set page_options = options | merge({'page':page_count}) %}
                    <a href="{{url(route, page_options)}}" title="Page {{page_count}}">{{page_count}}</a>
                {% else %}
                    {{page_count}}
                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}
{% endmacro %}

{% macro render_forum_header(forum) %}
    {% import _self as macros %}

    <h1>{{forum.title}}</h1>
    {{forum.description}}
    <p>{{forum.subforums.count}} subforums, {{forum.threads.count}} threads - <a href="{{macros.permalink_forum_new(forum)}}">post new thread</a></p>
{% endmacro %}

{% macro render_forum_overview(forum) %}
    {% import _self as macros %}

    <article>
        <a href="{{macros.permalink_forum(forum)}}">{{forum.title}}</a>
        <p>{{forum.description}}</p>
    </article>
{% endmacro %}

{% macro render_thread_overview(thread, forum) %}
    {% import _self as macros %}
    {% set forum = forum|default(thread.forum) %}

    <article>
        <a href="{{macros.permalink_thread(thread)}}">{{thread.orderedPosts[0].title}}</a>
        {{macros.pagination(thread.posts | length, 20, "f9kforum_thread", {"id": thread.compactId, 'forum_id': forum.slug}, 0)}}
        {{macros.render_post_meta(thread.orderedPosts[0], thread, forum)}}
    </article>
{% endmacro %}

{% macro render_post(post, thread, forum) %}
    {% import _self as macros %}
    {% set thread = thread|default(post.thread) %}
    {% set forum = forum|default(thread.forum) %}

    <article id="p{{post.order}}">
        <h2>{{post.title}}</h2>
        {{macros.render_post_meta(post, thread, forum)}}
        {{post.message | markup(post.markupLanguage)}}
    </article>
{% endmacro %}

{% macro render_post_meta(post, thread, forum) %}
    {% import _self as macros %}

    {% if post.postedBy %}
        <p>Posted by <a href="{{macros.permalink_user(post.postedBy)}}">{{post.postedBy.handle}}</a> on {{post.ctime | date}} UTC</p>
    {% else %}
        <p>Posted anonymously on {{post.ctime | date}} UTC</p>
    {% endif %}
{% endmacro %}

{% macro permalink_user(user) %}
    {{url('f9kprofile_user', {'handle': user.handle})}}
{% endmacro %}

{% macro permalink_forum(forum, page) %}
    {{url('f9kforum_forum', {'id': forum.slug, 'page':page|default(1)})}}
{% endmacro %}

{% macro permalink_forum_new(forum) %}
    {{url('f9kforum_thread_new', {'id': forum.slug})}}
{% endmacro %}

{% macro permalink_thread(thread, forum, page) %}
    {% set forum = forum|default(thread.forum) %}
    {{url('f9kforum_thread', {'forum_id': forum.slug, 'id': thread.compactId, 'page':page|default(1)})}}
{% endmacro %}
